<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <h1>Welcome to Tiny App!</h1>
    <h2>Let's create an account for you!</h2>

    <form method="POST" action="/register">
      <p>
        <label>Email</label>
        <input type="email" name="email" />
      </p>
      <p>
        <label>Password</label>
        <input type="password" name="password" />
      </p>
      <p>
        <input type="submit" name="Signup" value="Register"/>
      </p>
    </form>

  </body>
</html>