<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <% for(key in templateVars){ %>
        <a href="<%= templateVars[key] %>"> <%= key %>  </a> ---> <%= templateVars[key]%>
     <% } %>
        <form method = "POST" action = "/urls/<%=key%>/update">
          <input type = "text" name = "updatedUrl">
          <button style = "padding: .5em; display: inline-block;" type = "submit">Update</button>
        </form>
</body>
</html>
