<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="/style.css">
  <title>TinyApp</title>
  <% include partials/_header %>
</head>
<body>
        <a href="<%= longUrl %>"> <%= shortUrl %>  </a> ---> <%= longUrl%>
        <form method = "POST" action = "/urls/<%=shortUrl%>/update">
          <input type = "text" name = "updatedUrl">
          <button style = "padding: .5em; display: inline-block;" type = "submit">Update</button>
        </form>
</body>
</html>
